body{
    margin: 0;
    padding: 0;
}

Section{
width: 100%;
height: 100vh;
background: url();

background-size: cover;
}

section:leftbox{
    width: 50%;
    height: 100%;
    float: left;
    padding: 50px;
    box-sizing: border-box;

}


section.leftbox.content{
    background: rgb(0,0, 0.5);
    padding: 40px;
    transition:5s;
}


.section.events ul li.details a:hover{
    background: #e91e63;
    color: #fff;
    border-color: #e91e63;
}

